---
/* No props needed for now */
import "../styles/global.css";
---

<aside
  class="fixed top-0 left-0 h-screen w-60 text-black p-6 shadow-lg flex flex-col border-r border-neutral-200"
>
<div class="flex justify-center items-center">
  <img src="/Asteroid.svg" class="w-20 h-20 mb-8" alt="Logo" />
  <h1 class="font-bold text-2xl tracking-wide">Spacedex</h1>
</div>

  <nav>
    <a href="/" class="block px-3 py-2 rounded-lg hover:bg-gray-400 transition"
      >Home</a
    >
    <a
      href="/asteroids"
      class="block px-3 py-2 rounded-lg hover:bg-gray-400 transition"
      >Asteroids</a
    >
    <a
      href="/settings"
      class="block px-3 py-2 rounded-lg hover:bg-gray-400 transition"
      >Settings</a
    >
  </nav>

  <div class="mt-auto pt-6 border-t border-gray-700">
    <p class="text-sm text-gray-400">© 2025 Salem App</p>
  </div>
</aside>
